<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

    <nav th:replace="layouts :: navbar"></nav>

<!--    <a th:text="${versionNumber}"></a>-->
<!--    <a th:text="${test}"></a>-->
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h4>Current Projects</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Project Name</th>
                            <th>Project Stage</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- For each -->
                        <tr th:each="aProject : ${projects}">
                            <td th:text="${aProject.name}"></td>
                            <td th:text="${aProject.stage}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md">
                <h4>Current Employees</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th># Of Projects</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- For each -->
                    <tr th:each="employeeProject : ${empProjs}">
                        <td th:text="${employeeProject.firstName}"></td>
                        <td th:text="${employeeProject.lastName}"></td>
                        <td th:text="${employeeProject.numberOfProjects}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md">
                <canvas id="pieChart" height="50" width="50">
                </canvas>
                <script>
                    let chartData = "[[${projectStatusCount}]]"
                </script>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{JS/chart.js}"></script>
</body>

</html>